# Feature test for modifying IP TTL or IPv6 hop limit value

require = OpenFlow10

# OpenFlow
of_script = feature_test.sh, $ip, $port, $name

# Load-Generator
load_gen = moongen
files = feature_test.lua, feature_config.lua
lg_args = $file=1, $name, $link=*