# Feature test for group type SELECT

require = OpenFlow11

# OpenFlow
of_script = feature_test.sh, $ip, $port, $name, $con=1, $con=2

# Load-Generator
load_gen = moongen
files = feature_test.lua
lg_args = $file1, $name, $con=1, $con=2